<h1>About page work</h1>
<a routerLink="about-company">About company</a>
<br /> <br />
<a routerLink="about-me">About me</a>
<br /> <br />
<router-outlet></router-outlet>
<h1>{{myInput}}</h1>
<br><br>
<h1>{{outputString}}</h1>
<input type="text" [(ngModel)]="outputString">
<button (click)="sendData()">Send data</button>
<br /> 
<br />

<input type="text" placeholder="search here" name="user" #dat (value)="sendData1($event)"  >
<button (click)="sendData1(dat)" >get data</button>
<h1>{{value.name}}</h1>


<br>
<br>


