.row{
   margin: 5% 25%;
   height: 600px;
}
h3{
  text-align: center;
}
.di{
   background-color: whitesmoke;
   justify-content: center;
   border-radius: 10px;
}
table, th, td {
   border:1px solid black;
 }
 .form-label{
   font-weight: 700;
 }
 .form-control{
   height: 50px;
   border-radius: 11px;
 } 
 .btn{
   height: 50px;
 }
