<table style="width:100%">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Age</td>
        <td>SALARY</td>
        <td><a href="">Details</a></td>
    </tr>
    <td>
        <tr>1</tr>
        <tr>2</tr>
        <tr>3</tr>
        <tr>4</tr>
        <tr>5</tr>
    </td>
    <td>
        <tr>Abhi</tr>
        <tr>Anuj sir</tr>
        <tr>Rajan sir</tr>
        <tr>sumit </tr>
        <tr>karan</tr>
    </td>
    <td>
        <tr>22</tr>
        <tr>33</tr>
        <tr>47</tr>
        <tr>40</tr>
        <tr>20</tr>
    </td> 
    <td>
        <tr>1122</tr>
        <tr>2233</tr>
        <tr>3347</tr>
        <tr>4440</tr>
        <tr>5520</tr>
    </td>
    <td>
        <tr><a routerLink="detail-page">detail-page</a></tr>
        <tr><a routerLink="detail-page">detail-page</a></tr>
        <tr><a routerLink="detail-page">detail-page</a></tr>
        <tr><a routerLink="detail-page">detail-page</a></tr>
        <tr><a routerLink="detail-page">detail-page</a></tr>
    </td>
</table>